{{!-- {{#each users as |user|}}
     <div class="card" class="mx-auto pt-8" style="width: 700px;">
  <div class="card-header">
    {{user.description}} {{user.user.name}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{user.QRLink.description}}</p>
      <footer class="blockquote-footer">By: {{format_date date_created}}</cite></footer>
    </blockquote>
  </div>
</div>
</br> 
{{/each}} --}}
</br>

{{!-- {{#if logged_in}} --}}
<label for="exampleDataList" class="form-label">Url Insert:</label>
<input class="form-control" id="UrlBtn" placeholder="Type to your new Url">
</br>
<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" type="button" id="newUrlBtn">Add New Url</button>
</div>
{{!-- {{/if}} --}}
</br>
<div>
  {{!-- <h2>{{name}}</h2> --}}
  <!-- Content here -->

<div class="homepage">
  <div id='homepageText'>
    <p>Enter the QR code transformation realm at QREmpire.com. Create an account to access a suite of powerful tools. 
    Discover the QR code community, see the number of QR codes you've generated, and be inspired by others' prolific creations. 
    Experience the magic of URL transformation at QREmpire.com.
  </p>
  </div>
  
</div>

<script src="/js/newUrl.js" ></script>